@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');
/*@import url('/fonts/ui-icons/style.css');*/

:root {

/*Style Guide*/
--primary: #2D74FF;
--default:#EAEDF3;
--light: #fff;
--grey: #96A6C2;

--margin: 8px;

--font_family: 'Open Sans', sans-serif;
--font_weight_regular: 400;
--font_weight_bold: 600;

--font_regular_1: var(--font_weight_regular) 11px/1.2rem var(--font_family);
--font_regular_2: var(--font_weight_regular) 12px/1.2rem var(--font_family);
--font_regular_3: var(--font_weight_regular) 13px/1.2rem var(--font_family);
--font_regular_4: var(--font_weight_regular) 15px/1.2rem var(--font_family);
--font_regular_5: var(--font_weight_regular) 16px/1.2rem var(--font_family);
--font_regular_6: var(--font_weight_regular) 17px/1.2rem var(--font_family);
--font_regular_7: var(--font_weight_regular) 18px/1.2rem var(--font_family);
--font_regular_8: var(--font_weight_regular) 20px/1.2rem var(--font_family);
--font_regular_9: var(--font_weight_regular) 22px/1.2rem var(--font_family);
--font_regular_10: var(--font_weight_regular) 28px/1.2rem var(--font_family);
--font_regular_11: var(--font_weight_regular) 34px/1.2rem var(--font_family);

--font_bold_1: var(--font_weight_bold) 11px/11.2rem var(--font_family);
--font_bold_2: var(--font_weight_bold) 12px/11.2rem var(--font_family);
--font_bold_3: var(--font_weight_bold) 13px/11.2rem var(--font_family);
--font_bold_4: var(--font_weight_bold) 15px/11.2rem var(--font_family);
--font_bold_5: var(--font_weight_bold) 16px/11.2rem var(--font_family);
--font_bold_6: var(--font_weight_bold) 17px/11.2rem var(--font_family);
--font_bold_7: var(--font_weight_bold) 18px/11.2rem var(--font_family);
--font_bold_8: var(--font_weight_bold) 20px/11.2rem var(--font_family);
--font_bold_9: var(--font_weight_bold) 22px/11.2rem var(--font_family);
--font_bold_10: var(--font_weight_bold) 28px/11.2rem var(--font_family);
--font_bold_11: var(--font_weight_bold) 34px/11.2rem var(--font_family);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px; /*размер шрифта по умолчанию */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.wrapper {
    width: 300px;
    border-radius: 16px;
    padding: 8px 16px;
    border: 1px solid var(--grey);
    margin-right: 16px;
    text-align: center;
}

.wrapper .button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .button:not(:last-child) { /*все кнопки кроме последней*/
    margin-bottom: calc(var(--margin) * 2);
}

h3 {
    font: var(--font_regular_8);
}

.button {
    cursor: pointer;
    height: 50px;
    width: 100%;
    background: var(--primary);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 14px;
    font: var(--font_regular_7);
}

.button_theme-default {
    background: var(--default);
    color: var(--grey);
}

.button_theme-light {
    background: transparent;
    color: var(--primary);
}

.button_theme-light-default {
    background: transparent;
    color: var(--grey);
}

.button_load {
    pointer-events: none; /*запрещаем событие по клику*/
    font-size: 24px;
}

.button_load i.ui_load {
    animation: loading 1.2s linear infinite;
}

@keyframes loading { /*анимация*/
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button_small {
    min-width: 200px;
    width: max-content;
}
